.DS_Store
.terraform
.terraform.lock.hcl
.terraformrc
variables.json
./packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
key.json
balancer_key.json
*.retry
./packer/key.json
.vscode/
jdauphant.nginx
vault.key
