cloud_id                 = "b1rb"
folder_id                = "b11"
zone                     = "ru-central1-a"
image_id                 = "fdvk"
service_account_key_file = "key.json"
subnet_id                = "e9j3k"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
app_count                = 1
app_disk_image           = "fd4u"
db_disk_image            = "fddg"
access_key               = "YCA0U"
secret_key               = "YCOHiw"
