[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
EnvironmentFile=/tmp/puma.env
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
